<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
  

  
    <div class="col-8">
  
      <form action="/auth/editrecipe/<%=editPost._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="email" class="form-label"><Email></label>
            <input type="email" name="email" id="email" class="form-control" value="<%=editPost.email%>" readonly>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Recipe Name</label>
            <input type="text" name="name" id="name" class="form-control" value="<%=editPost.name%>" required>
          </div>

          <div class="col-12">
            <label for="title" class="form-label">Recipe Title</label>
            <input type="text" name="title" id="title" class="form-control" value="<%=editPost.title%>" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="4"><%=editPost.description%></textarea>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Ingredients</label><br>
            <small>Example: Ice</small>
            <div class="ingredientList">
              <% editPost.ingredients.forEach(ingredient => { %>
                <div class="ingredeintDiv mb-1">
                  <input type="text" name="ingredients" class="form-control" value="<%=ingredient%>">
                </div>
              <% }) %>
          
            </div>
          </div>

          <div class="col-12">
            <label for="steps" class="form-label">steps</label>
            <textarea name="steps" id="steps" class="form-control" cols="30" rows="4"><%=editPost.steps%></textarea>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
          </div>
  
          <div class="col-12">
            <label for="category">Select Category</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected value="<%=editPost.category%>"><%=editPost.category%></option>
              <option selected>Select Category</option>
              <% categories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
                <% }) %>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Product Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
            <br><br>
           <img src="/uploads/<%=editPost.image%>" alt="<%=editPost.name%>" width="150" height="150">
          </div>
          
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>