<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
      <h2>Pending Posts</h2>
      <!-- <a href="/explore-latest" class="ms-auto">View More</a> -->
    </div>
    <%- include('./layouts/flash-message') %>
  
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  
      <% if(recipes != '') { %>
        <% recipes.forEach(function(recipe, index){ %>
        <a href="/admin/recipe/<%= recipe._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
          </div>
          <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
      <% } else { %>
        <p>No items found.</p>
      <% } %>
    </div>
  
  </section>